.pplVersionBox {
   background-color: #ddf;
   margin-bottom: 0.25em;
   padding: 0.15em;
}

.pplVersionBox div {
   margin: 0.25em;
}

.pplVersionBoxHead {
   margin: 0.25em;
   padding: 0.15em
   overflow: hidden;
   background-color: #eee;
   border: 1px solid #ddd;
}

.pplVersionBoxHead a {
   padding: 0.15em;
   text-decoration: none;
   color: #00d;
}

.runall {
   background-color: white;
   border: 1px solid #444;
}
.runnew {
   background-color: #aaa;
   border: 1px solid #444;
}
.runfail {
   background-color: #faa;
   border: 1px solid #444;
}

.buttOff {
   background-color: #aaa;
   border: 1px solid #444;
}

.buttOn {
   background-color: #5F5;
   box-shadow: .125em .125em .0625em #8a8;
}

.testResults {
   background-color: #dfd;
   border: 1px solid green;
   display: inline-block;
   margin: .2em;
}

ul {
   margin: 0em;
   padding: 0em;
   /* -webkit-padding-start: 0em; */
}
.testResults li {
   margin: .2em;
   /* padding-left: .5em;
   padding-right: .5em;
   padding-top: -0em;
   padding-bottom: 0em; */
   border: 1px solid #444;
   display: inline-block;
   height: .8em;
   width: .8em;
}


.test1 {
   background-color: #aaa;
   border: 1px solid #444;
   display: inline-block;
   height: .8em;
   width: .8em;
}

.test2 {
   background-color: green;
   border: 1px solid #444;
   display: inline-block;
   height: .8em;
   width: .8em;
}

.test3 {
   background-color: red;
   border: 1px solid #444;
   display: inline-block;
   height: .8em;
   width: .8em;
}

.test4 {
   background-color: black;
   border: 1px solid #444;
   display: inline-block;
   height: .8em;
   width: .8em;
}

.test5 {
   background-color: white;
   border: 1px solid #444;
   display: inline-block;
   height: .8em;
   width: .8em;
}

/* ### Edit test form ### */
#testEditForm div {
}

.failedTestOutput {
   border: 1px solid red;
   background: #ffdddd;
   margin: 0.2em;
}
.testOutputHeader {
   background: #ddddff;
   font-weight: bold;
}
.testLineContainer {
   overflow: hidden;
}
.passedTestOutput {
   border: 1px solid #00aa00;
   background: #ddffdd;
   margin: 0.2em;
}

.testLineIndex {
   float: left;
   width: 3%;
   margin: .2em;
   height: 1em;
}
.passedTestLine {
   float: left;
   width: 47%;
   margin: .2em;
   border-bottom: 1px solid blue;
   background: #ddddff;
   height: 1em;
}
.failedTestLine {
   float: left;
   width: 47%;
   margin: .2em;
   border-bottom: 1px solid salmon;
   height: 1em;
}

#scriptInput {
   background-color: #cec;
   margin: .5em;
   padding: .5em;
}

.colourBox2 {
   background-color: #ecc;
   margin: .5em;
   padding: .5em;
   overflow: hidden;
}

.colourSubBox2 {
   background-color: #fdd;
   margin: .25em;
   padding: 0.2em;
   min-width: 45%;
   float: left;
}

.hl2 {
   background-color: #fee;
}


.colourBox1 {
   background-color: #cce;
   margin: .5em;
   padding: .5em;
   overflow: hidden;
}

.colourSubBox1 {
   background-color: #ddf;
   margin: .25em;
   padding: 0.2em;
   min-width: 45%;
   float: left;
}

.hl1 {
   background-color: #eef;
}

.colourBox0 {
   background-color: #cec;
   margin: .5em;
   padding: .5em;
   overflow: hidden;

}

.colourSubBox0 {
   background-color: #dfd;
   margin: .25em;
   padding: 0.2em;
   min-width: 45%;
   float: left;
}

.hl0 {
   background-color: #efe;
}

.lrel {
   margin: 0;
   padding: 0;
   display: block;
   overflow: none;
}

.linl {
   margin: 0;
   padding: 0;
   display: inline;
}

.lflt {
   margin-left: .5em;
   margin-right: .5em;
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   float: left;
}

.cl {
   clear: left;
}

.hilight {
   background: #ffcccc;
}

h2 {
  text-align: center;
  margin: 1em;
  background-color: #ffddff;
}

h2 a {
   text-decoration: none;
   color: blue;
}

.warning {
   margin: 0.5em;
   padding: 0.5em;
   border: 1px solid red;
   background-color: salmon;
}
