body {
   font-family: sans-serif, serif; 
   background: #ffffff;
   color: #444444;
   border: 0;
}

body a {
   color: #1818a0;
   text-decoration: none;
}

body a:hover {
   text-decoration: underline;
}

body a:visited {
   text-decoration: none;
   color: #801170;
}

body img {
   border: 0em;
   padding: 1em;
   padding-top: 0em;
}
