#contentinner1 {
  margin-left: 12.2em;
  margin-top: 0.7em;
  margin-left: 11.4em;
  margin-right: 0.7em;
  padding: 0px;
}

#contentinner2 {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0.2em;
  padding-left: 1em;
  background: #aaaaff;
}

.warning {
   color: #000000;
   background: #ff5555;
   border: #d2d2d2 solid 1px;
   padding: 1em;
   margin: 1em;
   margin-right: 2em;
   padding-right: 1em;
}
