/* Stolen from the PyX website */
.exampledownloads {
        font-size: 80%;
        text-align: center;
        border: 1px solid #a0a0a0;
        margin: 1em;
        padding: 0.2em;
        float: right;
        margin-bottom: 60px;
        margin-top: 2px;
}

.exampledownload {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-align: center;
        float: left;
}

.exampledownloadsize {
        font-size: 60%;
}

.exampleimage {
   text-align: center;
   background: #ffddaa;
   border: 1px solid #a0a0a0;
   padding: 1em;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
   margin-bottom: 1em;
   left: 0;
}

.examplebox   {
   margin: 15px;
   background: #d0d0ff;
   border-left: 2px solid #e0e0e0;
   border-bottom: 2px solid #606060;
   border-top: 2px solid #e0e0e0;
   border-right: 2px solid #606060;
   float: left;
   padding: 0.7em;
   /* margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
   margin-bottom: 1em;
   left: 0; */
}

.examplebox h3 {
   margin-top: 0em;
}

.examplebox p {
   margin-top: 0em;
   margin-bottom: 0em;
   clear: both;
   text-align: right;
}

.examplescript {
   /* float: left;
   background: #ffddaa;
   border: 1px dashed #d2d2d2;
   clear: right;
   */
}

.exampletext {
   clear: right;
}

.examplebuttons {
   padding-bottom: 1.2em;
   /* padding-top: -1em; */
}

.examplebutton {
   font-size: 90%;
   float: left;
   border: 0px none;
   padding: 0.2em;
   /* margin-top: -0.8em; */
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 20px;
   /* background: #ccddff; */
}

