/* Stolen from the PyX website */
.exampledownloads {
        font-size: 80%;
        text-align: center;
        border: 1px solid #a0a0a0;
        margin: 1em;
        padding: 0.2em;
        margin-bottom: 60px;
        margin-top: 15px;
        margin-left: 24px;
        margin-right: 24px;
}

.exampledownload {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-align: center;
}

.exampledownloadsize {
        font-size: 60%;
}

.exampleimage {
   text-align: center;
   background: #ffddaa;
   border: 1px solid #a0a0a0;
   padding: 1em;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
   margin-bottom: 1em;
   left: 0;
}

.examplebox   {
   margin: 15px;
   border: 2px solid #606060;
   padding: 0.7em;
}

.examplebox h3 {
   font-size: 110%;
   margin-top: 0em;
}

.examplebox p {
   margin-top: 0em;
   margin-bottom: 0em;
   clear: both;
   text-align: right;
}

.examplebox p.imgholder {
   text-align: center;
}

.examplescript {
   /* float: left;
   background: #ffddaa;
   border: 1px dashed #d2d2d2;
   clear: right;
   */
}

.exampletext {
   clear: right;
}

.examplebuttons {
   margin-left: auto;
   margin-right: auto;
   padding-top: 15px;
   padding-bottom: 1.2em;
   clear: both;
}

.examplebutton {
   font-size: 90%;
   float: left;
   border: 0px none;
   padding: 0.2em;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 20px;
}

