div.news2 {
   margin-left: 5px;
   margin-right: 15px;
   margin-top: 16px;
   margin-bottom: 16px;
   padding: 8px;
   border: 1px solid #777777;
}

div.news {
   margin-left: 5px;
   margin-right: 15px;
   margin-top: 16px;
   margin-bottom: 16px;
   padding: 3px;
   border: 1px solid #777777;
}

p.newsdate {
   padding: 2px; border: 0px; margin: 0px;
   font-size: 90%;
}

p.newshead {
   padding: 2px; border: 0px; margin: 0px;
   font-size: 90%;
   font-weight: bold;
}

p.newsbody {
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: 0px;
   margin: 0px;
   font-size: 90%;
   font-size: normal;
}

