/* CSS definitions for the PyXPlot website topbox */
#topbox {
    border-left: 0px none;
    border-right: 0px none;
    border-top: 2px solid #4040C0;
    border-bottom: 2px solid #101010;
    padding: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0.7em;
    margin-bottom: 0px;
    background: #202080;
    color: #ccccff;
}

#topbox h1 {
   border-spacing: 4px;
   margin: 4px;
   padding-left: 35px;
   font-size: xx-large;
   text-align: left;
}

#topbox h2 {
   border-spacing: 4px;
   margin: 4px;
   padding-right: 35px;
   font-size: medium;
   text-align: right;
}

#topbox img {
   float:left;
   border: 0;
   padding: 0;
}
