/* CSS definitions for the PyXPlot website sidebox */

#sidebox {
	float:left;
	width: 10em;
	text-align:left;	
    background: #ffe8ba;
    color: #747474;     
    margin-left: 1.2em;
    margin-right: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #d2d2d2 solid 1px;
	 padding-right: 1.2em;
	 padding-left: 1.2em;
	 padding-bottom: 0.5em;
	 padding-top: 0.5em;
}
#sidebox ul {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding-left: 2em;
	font-size: 80%;
}

#sidebox ol {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 80%;
}
.menuitem {
	padding: 0.2em;
}
